In [4]:
import pandas as pd
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\chess2.csv', header=0)
df.head()

,1,3,5,7,9,11,13,15,17,19,...,56,58,60,62,64,66,68,70,72,74
0,1,3,5,7,9,12,13,15,17,19,...,56,58,60,62,64,66,68,70,72,74
1,1,3,5,7,9,12,13,16,17,19,...,56,58,60,62,64,66,68,70,72,74
2,1,3,5,7,9,11,13,15,17,20,...,56,58,60,62,64,66,68,70,72,74
3,1,3,5,7,9,11,13,15,17,19,...,56,58,60,62,64,66,68,70,72,74
4,1,3,5,7,9,11,13,15,17,19,...,56,58,60,63,64,66,68,70,72,74

time: 63 ms (started: 2021-06-02 23:35:09 +06:00)

In [5]:
!pip install ipython-autotime

%load_ext autotime

Requirement already satisfied: ipython-autotime in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (0.3.1)
Requirement already satisfied: ipython in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython-autotime) (7.23.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (5.0.5)
Requirement already satisfied: colorama in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (56.0.0)
Requirement already satisfied: decorator in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (5.0.9)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (3.0.18)
Requirement already satisfied: jedi>=0.16 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.18.0)
Requirement already satisfied: pygments in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (2.9.0)
Requirement already satisfied: matplotlib-inline in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.1.2)
Requirement already satisfied: backcall in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython->ipython-autotime) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ipython-genutils in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 2.91 s (started: 2021-06-02 23:35:22 +06:00)

In [6]:
df.shape

(3195, 37)

time: 0 ns (started: 2021-06-02 23:35:30 +06:00)

In [7]:
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

time: 3.89 s (started: 2021-06-02 23:35:36 +06:00)

In [8]:
records = []
for i in range(0, 3195):
    records.append([str(df.values[i,j]) for j in range(0, 37)])

time: 1.17 s (started: 2021-06-02 23:35:43 +06:00)

# Applying Apriori

The next step is to apply the Apriori algorithm on the dataset. To do so, we can use the apriori class that we imported from the apyori library.

The apriori class requires some parameter values to work. The first parameter is the list of list that you want to extract rules from. The second parameter is the min_support parameter. This parameter is used to select the items with support values greater than the value specified by the parameter. Next, the min_confidence parameter filters those rules that have confidence greater than the confidence threshold specified by the parameter. Similarly, the min_lift parameter specifies the minimum lift value for the short listed rules. Finally, the min_length parameter specifies the minimum number of items that you want in your rules.

Let's suppose that we want rules for only those items that are purchased at least 5 times a day, or 7 x 5 = 35 times in one week, since our dataset is for a one-week time period. The support for those items can be calculated as 35/7500 = 0.0045. The minimum confidence for the rules is 20% or 0.2. Similarly, we specify the value for lift as 3 and finally min_length is 2 since we want at least two products in our rules. These values are mostly just arbitrarily chosen, so you can play with these values and see what difference it makes in the rules you get back out.

In [9]:
association_rules = apriori(records, min_support=0.8)
association_results = list(association_rules)

time: 10min 59s (started: 2021-06-02 23:36:01 +06:00)

In [10]:
print(len(association_results))

8227
time: 0 ns (started: 2021-06-02 23:47:28 +06:00)

In [11]:
association_rules = apriori(records, min_support=0.85)
association_results = list(association_rules)

time: 1min 43s (started: 2021-06-02 23:47:35 +06:00)

In [12]:
print(len(association_results))

2669
time: 0 ns (started: 2021-06-02 23:49:52 +06:00)

In [13]:
association_rules = apriori(records, min_support=0.90)
association_results = list(association_rules)

time: 7 s (started: 2021-06-02 23:50:22 +06:00)

In [14]:
print(len(association_results))

622
time: 0 ns (started: 2021-06-02 23:50:49 +06:00)

In [15]:
association_rules = apriori(records, min_support=0.95)
association_results = list(association_rules)

time: 188 ms (started: 2021-06-02 23:50:55 +06:00)

In [16]:
print(len(association_results))

77
time: 0 ns (started: 2021-06-02 23:51:47 +06:00)