In [1]:
!pip install ipython-autotime
%load_ext autotime

Requirement already satisfied: ipython-autotime in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (0.3.1)
Requirement already satisfied: ipython in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython-autotime) (7.23.1)
Requirement already satisfied: pygments in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (2.9.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (5.0.5)
Requirement already satisfied: colorama in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.18.0)
Requirement already satisfied: matplotlib-inline in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (3.0.18)
Requirement already satisfied: pickleshare in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (56.0.0)
Requirement already satisfied: backcall in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: decorator in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-autotime) (5.0.9)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython->ipython-autotime) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ipython-genutils in c:\users\tanvi\appdata\local\programs\python\python39\lib\site-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
time: 0 ns (started: 2021-06-03 17:18:08 +06:00)

# Apriori Algorithm

In [5]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\kosarak.dat.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.75, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 2.14 s (started: 2021-06-03 17:20:49 +06:00)

In [6]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\kosarak.dat.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.8, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 1.64 s (started: 2021-06-03 17:21:32 +06:00)

In [7]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\kosarak.dat.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.85, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 2.06 s (started: 2021-06-03 17:22:07 +06:00)

In [8]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\kosarak.dat.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.9, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 2 s (started: 2021-06-03 17:22:36 +06:00)

In [9]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\kosarak.dat.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.95, use_colnames=True)
frequent_itemset

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 1.67 s (started: 2021-06-03 17:23:12 +06:00)

In [13]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\kosarak.dat.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.0001, use_colnames=True)
frequent_itemset

        support                                   itemsets
0      0.060506                                        (0)
1      0.011201                                        (1)
2      0.019602                                        (2)
3      0.019602                                        (3)
4      0.019702                                        (4)
...         ...                                        ...
42746  0.000200   (0, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17)
42747  0.000200  (0, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17)
42748  0.000200   (0, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17)
42749  0.000200  (0, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17)
42750  0.000200  (0, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17)

[42751 rows x 2 columns]

time: 25.2 s (started: 2021-06-03 17:25:04 +06:00)

In [14]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\kosarak.dat.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.0005, use_colnames=True)
frequent_itemset

        support                                  itemsets
0      0.060506                                       (0)
1      0.011201                                       (1)
2      0.019602                                       (2)
3      0.019602                                       (3)
4      0.019702                                       (4)
...         ...                                       ...
16890  0.000600  (0, 2, 5, 6, 11, 12, 13, 14, 15, 16, 17)
16891  0.000600  (0, 3, 4, 5, 11, 12, 13, 14, 15, 16, 17)
16892  0.000600  (0, 3, 4, 6, 11, 12, 13, 14, 15, 16, 17)
16893  0.000600  (0, 3, 5, 6, 11, 12, 13, 14, 15, 16, 17)
16894  0.000600  (0, 4, 5, 6, 11, 12, 13, 14, 15, 16, 17)

[16895 rows x 2 columns]

time: 11.7 s (started: 2021-06-03 17:26:51 +06:00)

In [15]:
import pandas as pd
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv(r'F:\Academic Courses\CSE 477\project 2\kosarak.dat.csv', header=0)

TE=TransactionEncoder()
TE_Arr= TE.fit(df).transform(df)
df=pd.DataFrame(TE_Arr, columns=TE.columns_)


df=pd.DataFrame(TE_Arr)

from mlxtend.frequent_patterns import apriori
frequent_itemset= apriori(df, min_support=0.0015, use_colnames=True)
frequent_itemset

        support                                itemsets
0      0.060506                                     (0)
1      0.011201                                     (1)
2      0.019602                                     (2)
3      0.019602                                     (3)
4      0.019702                                     (4)
...         ...                                     ...
12026  0.002900  (0, 5, 10, 11, 12, 13, 14, 15, 16, 17)
12027  0.003000   (0, 6, 7, 11, 12, 13, 14, 15, 16, 17)
12028  0.002900   (0, 6, 8, 11, 12, 13, 14, 15, 16, 17)
12029  0.002900   (0, 6, 9, 11, 12, 13, 14, 15, 16, 17)
12030  0.002900  (0, 6, 10, 11, 12, 13, 14, 15, 16, 17)

[12031 rows x 2 columns]

time: 6.58 s (started: 2021-06-03 17:27:55 +06:00)

# FP Growth

In [24]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.75)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 281 ms (started: 2021-06-03 17:31:09 +06:00)

In [25]:
fpgrowth(df, min_support=0.8)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 296 ms (started: 2021-06-03 17:31:33 +06:00)

In [26]:
fpgrowth(df, min_support=0.85)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 281 ms (started: 2021-06-03 17:31:52 +06:00)

In [27]:
fpgrowth(df, min_support=0.9)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 125 ms (started: 2021-06-03 17:32:20 +06:00)

In [28]:
fpgrowth(df, min_support=0.95)

Empty DataFrame
Columns: [support, itemsets]
Index: []

time: 109 ms (started: 2021-06-03 17:32:38 +06:00)

In [29]:
fpgrowth(df, min_support=0.0001)

        support                                   itemsets
0      0.019602                                        (2)
1      0.019602                                        (3)
2      0.019702                                        (4)
3      0.060506                                       (17)
4      0.060506                                       (12)
...         ...                                        ...
42746  0.000200     (1, 6, 10, 11, 12, 13, 14, 15, 16, 17)
42747  0.000200      (0, 1, 6, 10, 11, 12, 14, 15, 16, 17)
42748  0.000200      (0, 1, 6, 10, 11, 12, 13, 15, 16, 17)
42749  0.000200      (0, 1, 6, 10, 11, 12, 13, 14, 16, 17)
42750  0.000200  (0, 1, 6, 10, 11, 12, 13, 14, 15, 16, 17)

[42751 rows x 2 columns]

time: 547 ms (started: 2021-06-03 17:33:07 +06:00)

In [32]:
fpgrowth(df, min_support=0.0005)

        support                                itemsets
0      0.019602                                     (2)
1      0.019602                                     (3)
2      0.019702                                     (4)
3      0.060506                                    (17)
4      0.060506                                    (12)
...         ...                                     ...
16890  0.001100      (0, 1, 10, 12, 13, 14, 15, 16, 17)
16891  0.001100      (0, 1, 10, 11, 12, 13, 14, 15, 17)
16892  0.001100      (0, 1, 10, 11, 13, 14, 15, 16, 17)
16893  0.001100      (0, 1, 10, 11, 12, 13, 14, 15, 16)
16894  0.001100  (0, 1, 10, 11, 12, 13, 14, 15, 16, 17)

[16895 rows x 2 columns]

time: 313 ms (started: 2021-06-03 17:34:00 +06:00)

In [33]:
fpgrowth(df, min_support=0.0015)

        support                               itemsets
0      0.019602                                    (2)
1      0.019602                                    (3)
2      0.019702                                    (4)
3      0.060506                                   (17)
4      0.060506                                   (12)
...         ...                                    ...
12026  0.001900      (0, 1, 7, 12, 13, 14, 15, 16, 17)
12027  0.001900      (0, 1, 7, 11, 12, 13, 14, 15, 17)
12028  0.001900      (0, 1, 7, 11, 13, 14, 15, 16, 17)
12029  0.001900      (0, 1, 7, 11, 12, 13, 14, 15, 16)
12030  0.001900  (0, 1, 7, 11, 12, 13, 14, 15, 16, 17)

[12031 rows x 2 columns]

time: 531 ms (started: 2021-06-03 17:34:25 +06:00)